body {
  background-color: #1f1f1f;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.content {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #171718;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #1b2722, #171717);
}

.hint-text {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 20vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  font-family: GRIFTER, sans-serif;
  color: #fff;
  font-weight: 800;
}

@media screen and (max-width: 991px) {
  .hint-text {
    width: 24vw;
  }
}

@media screen and (max-width: 767px) {
  .hint-text {
    width: 32vw;
  }
}

@media screen and (max-width: 479px) {
  .hint-text {
    width: 42vw;
  }
}

@font-face {
  font-family: 'GRIFTER';
  src: url('../images/') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}